
<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://www.esan.edu.pe/apuntes-empresariales/2018/10/16/1500x844_analista_business_intelligence.jpg');   background-repeat: no-repeat;background-size:100%;">
    <div class="full-bg-img mask rgba-black-light">
            <div class="row pt-5 mt-500 w-100">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1> Welcome To Amar Online Shop</h1>
                        <p class="lead"> This application will help you find all the best things in the world in the lowest price ever </p>
                        <a href="/register" class="btn btn-primary btn-lg "style="width:200px;height:50px;">Register</a>
                        <a href="/login" class="btn btn-success btn-lg " style="width:200px;height:50px;">Login</a>
                    </div>
                <div style="position: relative; width: 600px; height: 393px;">    
                    <div style="position: absolute; bottom: 5px;">
                        Copyright 2020 &copy; Mendel Amar
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> 



